@model Bangazon.Models.Product
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{ ViewData["Title"] = "Details"; }

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    @{ //if there are any products left, the user will be given a button to add to cart
        if (Model.Quantity > 0)
        {
            //The "add to cart" button is only shown if the user is logged in
            if (SignInManager.IsSignedIn(User))
            {
<a asp-action="AddToCart" asp-route-id="@Model.ProductId"><button class="btn btn-primary">Add to Cart</button></a>
                    <hr /> }
                //otherwise the user is asked to login
                else
                {
<div>Please <a asp-area="Identity" asp-page="/Account/Login">login</a> to add this item to your cart!</div>
                    <hr /> }
            }
            else
            {
<div>This product is out of stock!</div>
                <hr /> } }
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductType.Label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            Local delivery
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isLocal)
        </dd>
        <dt class="col-sm-2">
            Seller
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
