@model Bangazon.Models.Order

@{
    ViewData["Title"] = "Details";
}

<div>
    @if (Model.PaymentTypeId == null)
    {
        <h1>Shopping Cart</h1>
    }
    else
    {
        <h1>Order from @Html.DisplayFor(model => model.DateCompleted)</h1>
    }
<dl class="row">
    @if (Model.PaymentTypeId != null)
    {
        <dt class="col-sm-2">
            Buyer
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class="col-sm-2">
            Shipping Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.StreetAddress)
        </dd>
        <dt class="col-sm-2">
            Payment Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentType.Description)
        </dd>
        <dt class="col-sm-2">
            Account Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentType.AccountNumber)
        </dd>
    }
</dl>
    <hr />
    @{
        if (Model.OrderProducts.Count() != 0)
        {
            double TotalPrice = 0;
            foreach (var OrderProduct in Model.OrderProducts)
            {
                <dl class="row">
                    <dd class="col-sm-2">
                        <a asp-action="Details" asp-route-id="@OrderProduct.ProductId">@Html.DisplayFor(model => OrderProduct.Product.Title)</a>
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayFor(model => OrderProduct.Product.Price)
                    </dt>
                    @{
                        TotalPrice += OrderProduct.Product.Price;
                    }
                </dl>
            }
            <h4>Total Price: @TotalPrice.ToString("C2")</h4>
        }
        else
        {
            <p>There are no products in your cart! <a asp-controller="Products" asp-action="Index">Let's go add some!</a></p>
        }
    }
</div>
<div>
    @if (Model.PaymentTypeId == null && Model.OrderProducts.Count() != 0)
    {
        <a asp-action="Edit" asp-route-id="@Model.OrderId"><button class="btn btn-primary">Checkout</button></a>
    }
</div>
